<div class="row my-4">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Find All Bookings</h5>
          <p class="card-text"></p>
          <a routerLink="all-booking" routerLinkActive="active" class="btn btn-success">Click Here</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Available Rooms</h5>
        
          <a routerLink="available-room" routerLinkActive="active" class="btn btn-success">Click Here</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title ">Book Rooms</h5>
         
          <a routerLink="book-room" routerLinkActive="active" class="btn btn-success">Click Here</a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Available Services</h5>
          
          <a routerLink="feature-available" routerLinkActive="active" class="btn btn-success">Click Here</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title ">All Room List</h5>
         
          <a routerLink="room-list" routerLinkActive="active" class="btn btn-success">Click Here</a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add New Service</h5>
          
          <a routerLink="add-feature" routerLinkActive="active" class="btn btn-success">Click Here</a>
        </div>
      </div>
    </div>
  </div>